@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: transparent;
  color: #e74c3c;
}

::selection {
  background-color: transparent;
  color: #e74c3c;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  color: #777777;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.btn {
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  text-align: center;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn--white {
  color: #2c3e50;
  background-color: #ecf0f1;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.2);
}

.row {
  max-width: 114rem;
  background-color: #ecf0f1;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  background: #2980b9;
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - (6rem * 2)) / 3);
}

.row .col-2-of-3 {
  width: calc(((100% - (6rem * 2)) / 3)* 2 + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - (6rem * 3)) / 4);
}

.row .col-2-of-4 {
  width: calc(((100% - (6rem * 3)) / 4)* 2 + 6rem);
}

.row .col-3-of-4 {
  width: calc(((100% - (6rem * 3)) / 4)* 3 + (2 * 6rem));
}

.fullsite {
  padding: 3rem;
}

.header {
  position: relative;
  height: 92vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(44, 62, 80, 0.9)), to(rgba(52, 73, 94, 0.5))), url(../../img/IMG_2147-min.jpeg);
  background-image: linear-gradient(to right bottom, rgba(44, 62, 80, 0.9), rgba(52, 73, 94, 0.5)), url(../../img/IMG_2147-min.jpeg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.header img {
  max-width: 15rem;
  height: auto;
}

.header__logo {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__content {
  position: absolute;
  top: 35%;
  left: 10%;
}

.header__title {
  color: #ecf0f1;
  display: block;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  -webkit-animation: moveInLeft 1s ease-out;
          animation: moveInLeft 1s ease-out;
}

.header__subtitle {
  color: #ecf0f1;
  display: block;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
  margin-bottom: 4.5rem;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.header__btn {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */