*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

html {
  // Definition of 1 rem to 10px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: transparent;
  color: $colorAlizarin;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
}
